<%%= form_for <%= item_path :instance_variable => true %> do |f| %>


<%% if @<%= instance_name %>.errors.any? %>
        <div id="error_explanation">
          <h2><%%= pluralize(@<%= instance_name %>.errors.count, "error") %> prohibited this <%= instance_name %>from being saved:</h2>

          <ul>
            <%% @<%= instance_name %>.errors.full_messages.each do |msg| %>
                <li><%%= msg %></li>
            <%% end %>
          </ul>
        </div>
    <%% end %>



<table class="condensed-table">
  <%- for attribute in model_attributes -%>
      <tr>
        <td><%%= f.label :<%= attribute.name %> %></td>
        <%- if attribute.name.match('_id') %>
        <td><%%= f.select :<%= attribute.name %>,<%= attribute.name.split('_')[0].capitalize %>.all.collect{|var|[var.name,var.id]} %></td>

            <%else %>
        <td><%%= f.<%= attribute.field_type %> :<%= attribute.name %> %></td>
            <% end %>
      </tr>

  <%- end -%>
</table>
<br>
<br>

<%%= f.submit "Submit" ,:style=>"margin:auto",:class=>"btn primary large"%>

<%% end %>